body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}



.h-100 {
    height: 100%!important;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card-text {
    margin-top: auto;
}

.card-img-top {
    height: 300px;
    object-fit: cover;

}